{% extends "base.html" %}

{% block title %}Company Profile - BizManage Pro{% endblock %}

{% block content %}
<div class="row">
    <!-- Settings Navigation -->
    <div class="col-md-3">
        {% include 'settings/_nav.html' %}
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Company Profile</h5>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    <!-- Company Logo -->
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <label class="form-label">Company Logo</label>
                            <div class="text-center">
                                <img src="{{ company.logo_url }}" class="img-fluid mb-2" 
                                     alt="Company Logo" id="logoPreview">
                                {{ form.logo(class="form-control", onchange="previewLogo(this)") }}
                            </div>
                        </div>
                    </div>

                    <!-- Basic Information -->
                    <h6 class="mb-3">Basic Information</h6>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.legal_name.label(class="form-label") }}
                            {{ form.legal_name(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.tax_id.label(class="form-label") }}
                            {{ form.tax_id(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.registration_number.label(class="form-label") }}
                            {{ form.registration_number(class="form-control") }}
                        </div>
                    </div>

                    <!-- Contact Information -->
                    <h6 class="mb-3">Contact Information</h6>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.phone.label(class="form-label") }}
                            {{ form.phone(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.website.label(class="form-label") }}
                            {{ form.website(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.fax.label(class="form-label") }}
                            {{ form.fax(class="form-control") }}
                        </div>
                    </div>

                    <!-- Address -->
                    <h6 class="mb-3">Address</h6>
                    <div class="mb-3">
                        {{ form.address_line1.label(class="form-label") }}
                        {{ form.address_line1(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.address_line2.label(class="form-label") }}
                        {{ form.address_line2(class="form-control") }}
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.city.label(class="form-label") }}
                            {{ form.city(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.state.label(class="form-label") }}
                            {{ form.state(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.postal_code.label(class="form-label") }}
                            {{ form.postal_code(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.country.label(class="form-label") }}
                            {{ form.country(class="form-select") }}
                        </div>
                    </div>

                    <!-- Social Media -->
                    <h6 class="mb-3">Social Media</h6>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.facebook.label(class="form-label") }}
                            {{ form.facebook(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.twitter.label(class="form-label") }}
                            {{ form.twitter(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ form.linkedin.label(class="form-label") }}
                            {{ form.linkedin(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.instagram.label(class="form-label") }}
                            {{ form.instagram(class="form-control") }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
function previewLogo(input) {
    if (input.files && input.files[0]) {
        const reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('logoPreview').src = e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock %} 